<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir la raíz del dominio al subdirectorio public de Laravel
    RewriteCond %{HTTP_HOST} ^projectci\.devcode\.com\.ar$ [NC]
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>

